* {
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: 15px;
  font-family: monospace;
}
main {
  background-color: #f0f4ef;
  padding-top: 30px;
}
header,
footer {
  background-color: #39393a;
  color: #f0f4ef;
}
header {
  border-radius: 0 0 30px 30px;
  padding: 30px;
}
footer {
  border-radius: 30px 30px 0 0;
  padding: 20px;
}
img {
  margin-top: 50px;
}
.name {
  margin: 20px;
}
.p1 {
  margin-bottom: 50px;
}
.html{
  padding-top:60px;
}
.main-title {
  background-color: rgb(226, 37, 37);
  color: #f0f4ef;
  padding: 20px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.zone {
  border: 2px solid rgb(0, 0, 0);
  margin: 30px;
  display: inline-block;
  width: 220px;
  position: relative;
}
.lesson{
  color: #f0f4ef;
  background-image: url(6c8febc4-47ec-4127-ae42-761b988107ea.jpg);
  background-size: cover;
  background-position: top center;
  height: 170px;
  padding: 15px;
  border-radius: 15px 15px 0 0;  
}
.lesson2{
  color: #f0f4ef;
  background-size: cover;
  background-position: top center;
  height: 170px;
  padding: 15px;
  border-radius: 15px 15px 0 0;  
}

.dn{
display:none;
}
/***********************
 image-HTML&CSS 
 **********************/
.img-hc-1 {
  background-image: url(images/HTML&CSS/img1.png);
}

.img-hc-2 {
  background-image: url(images/HTML&CSS/img2.png);
}

.img-hc-3 {
  background-image: url(images/HTML&CSS/img3.png);
}

.img-hc-4 {
  background-image: url(images/HTML&CSS/img4.png);
}
.img-hc-5 {
  background-image: url(images/HTML&CSS/img5.png);
}
.img-hc-6 {
  background-image: url(images/HTML&CSS/img6.png);
}
.img-hc-7 {
  background-image: url(images/HTML&CSS/img7.png);
}
.img-hc-8 {
  background-image: url(images/HTML&CSS/img8.png);
}
.img-hc-9 {
  background-image: url(images/HTML&CSS/img9.png);
}
.img-hc-10 {
  background-image: url(images/HTML&CSS/img10.png);
}
.img-hc-11 {
  background-image: url(images/HTML&CSS/img11.png);
}
.img-hc-12 {
  background-image: url(images/HTML&CSS/img12.png);
}
/***********************
 image-HTML&CSS&JavaScript
 **********************/
  .img-hcj-1 {
  background-image: url(images/HTML&CSS&JS/img1.png);
}
 .img-hcj-2 {
  background-image: url(images/HTML&CSS&JS/img2.png);
}
 .img-hcj-3 {
  background-image: url(images/HTML&CSS&JS/img3.png);
}

 /* ***********************
 *********************
 ***********************/
.type {
  margin: 20px;
}
.buton {
  text-decoration: none;
  background-color: rgb(226, 37, 37);
  color: white;
  padding: 10px;
  display: inline-block;
  margin-bottom: 7px;
}

/* 
            
 */
.opacity {
  opacity: 0.7;
}
.icon-published_with_changes {
  position: absolute;
  color: #fff;
  left: 5px;
  top: 5px;
  font-size: 20px;
  opacity: 0.7;
  transition: all 0.2s;
  transition: transform 0.6s;
  background-color: rgba(0, 0, 0, 0.363);
  padding: 4px;
  z-index:100;
}

.icon-published_with_changes:hover {
  opacity: 1;
  cursor: pointer;
}
.icon-published_with_changes:active {
  transform: rotate(360deg);
}
